<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link rel="stylesheet" href="/App/css/common.css">
  <script src="/App/util/common.js"></script>
  <!--注意引入公共css 和 js 要以 view 下面的页面为基准 根目录是项目名称-->
</head>
<body>
<link rel="stylesheet" href="./detail.css">
<div>
  <h1 id="">detail </h1>
  <div>
    <img src="/APP/images/1.png" alt="">
  </div>
</div>
</body>
</html>